.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
}

.newClaim {
  display: block;
  background-color: #2e5e8c;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.claim-list {
  list-style: none;
  padding: 0;
}

.claim-list li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.claim-list li.active,
.claim-list li:hover {
  background-color: white;
}

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Inter', sans-serif;
}

label, input, select {
  font-family: 'Inter', sans-serif;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-row .form-section {
  flex: 1;
  min-width: 500px;
}

.form-section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fafafa;
}

.form-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.form-group input,
.form-group select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group-inline {
  display: flex;
  gap: 20px;
}

.add-involved {
  padding: 8px 12px;
  background-color: #2e5c8a;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.form-group-inline .form-group {
  flex: 1;
  min-width: 200px;
}

form button[type="submit"] {
  background-color: #2e5e8c;
  color: white;
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  text-align: center; 
}

