
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('background.jpg.jpg'); 
    background-size: cover;
    background-position: center;
    border: black;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: rgba(0, 0, 0, 0.2);
    padding: 60px 50px;
    border-radius: 40px;
    color: white;
    width: 400px;
    text-align: center;
  }
  
  .input-field {
    margin: 15px 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input-field input {
    flex:1;
    padding: 10px;
    border: black;
    border-radius: 40px;
    outline: none;
  }
  
  .show-password {
    margin-left: 10px;
    border-radius: 30px;
    width: 100;
    background: white
    right: 10px;
    border: black;
    color: GREY;
    cursor: pointer;
    font-size: 12px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 0;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    border: black;
    border-radius: 40px;
    color: white;
    cursor: pointer;
  }
  